<div class="modal fade" id="reviewDetailsModal" tabindex="-1" role="dialog" aria-hidden="true" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @if (Review != null && Review.Photos != null && Review.Photos.Count > 0)
            {
                @foreach (var img in Review.Photos)
                {
                    <img src="@img" class="img-fluid"/>
                }
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public Review? Review { get; set; }
}